
/* FONT INIT */

/* @import url comme ici permet d'importer une police depuis google 'fonts.google.com' j'ai trouvé ça plus simple que de devoir dl les fichiers 1 par 1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');

/* les lignes qui suivent vont permettre d'utiliser les polices que j'ai importer, j'en ai importer que deux pour l'instant */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* INIT COLOR VARIABLE */

:root{
    --grey: #333;  
    --lblue: #50b9ff;
    --red:#fa4f09;
    --darkgrey: rgb(34, 34, 34);
}

/* INIT GLOBAL SETTINGS */

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
main{
    margin-left: 140px;
}

/* NAVBAR TOP */

header{
    position: sticky;
    top:0; left:0; right:0;
    /*z-index: 1000;*/
    background-color: var(--grey);
    display: flex;
    align-items: center;
    padding:0.8rem 3%;
    color: white;
    /*Ce sont les deux commandes qui suivent qui permette de gérer les distance responsiv entre le titre et les liens navbar*/
    display:flex;
    justify-content: space-between;
    min-width: 1000px;;
}
header h1{
    font-size: 20px;;
}
header div{
    display: inline-flex;
    align-items: center;
}

.navbar a{
    margin-right: 1rem;
    font-size: 17px;
    text-decoration: none;
    color:var(--lblue);
}
.navbar a:hover{
      color:var(--red);
}

.logonavbar{
    width: 200px;
    height: 70px;
    margin-right:20px;
}


/* CONTENT */

#navbartest{
    height: 20px;
    background-color: var(--grey);
    color:white;
    font-size: 80%;
    text-align:center;
}

/* BACK 2 IUT DIV  */

#transitionpage{
    height: 60px;
    background-color: var(--lblue);
    text-align: center;
    color: black;
    text-align: center;
}

.b2iut{
    font-size: 120%;
    align-items: center;
    color:var(--darkgrey);
    display: flex;
    margin: 0 auto;
    /* margin-left: 40%; */
}

.imgiutb2iut{
    width: 170px;
    height: 100%;
}
#transitionpage p {
    text-align: center;
}



/* DIV CONTENT  */

#div1{
    background-color: rgb(230, 230, 230);
    height: 600px;
    display:flex;
    justify-content: space-between;
    min-width: 1000px;
}
#div1 h1{
    margin-top: 150px;
    margin-left: 50px;
    margin-right:50px;
    font-size:48px;
}
.imgdiv1{
    margin:35px;
    margin-top:50px;
    width: 40%;
    height: 38%;
}
.imgdivbarre{
    width: 15px;
    height: 50px;;
}
#div2{
    background-color: white;
    height: 700px;

}
#div3{
    background-color: rgb(230, 230, 230);
    height: 700px;

}
#div4{
    background-color: white;
    height: 700px;

}
#div5{
    background-color: rgb(230, 230, 230);
    height: 700px;

}
#div6{
    background-color: white;
    height: 700px;

}
#div7{
    background-color: rgb(230, 230, 230);
    height: 700px;

}



/* SIDEBAR */
.sidebar {
    background-color: var(--lblue);
    position: fixed;
    height: 100%;
    width: 140px;
}
.lisidebar{
    color: white;
    text-decoration: none;
}
.titlesidebar{
    text-decoration: underline;
    font-size: 15px;;
}
.logosidebar{
    height: 20px;
    width: 20px;
    margin-right: 8px;
    margin-left: 9px;
}
.sidebar_title{
    display: flex;
    margin-top:15px;
}
.imglink_sidebar{
    height: 10px;
    width: 20px;
    margin-left:5px;
    margin-right: 5px;
}
.sidebar a:hover{
    color:var(--red);
    text-decoration: underline;
}





/* FOOTER */
footer{
    background-color:var(--grey);
    text-align: center;
    align-items: center;
    height: 300px;;
    color:white;
}


/* POUR LOGO CLASSIQUE CARRE
.logofooter{
    height: 50px;
    width: 50px;
    margin-top: 40px;
} */
.logofooter{
    height: 100px;
    width: 280px;
    margin-top: 40px;
}
.logofootersuite{
    height: 45px;
    width: 45px;
    margin:20px;
}
.allrightreserved{
    margin-top: 30px;
}
.liens_ucbl_footer{
    color: white;
}
.liens_ucbl_footer a:hover{
    text-decoration: underline;
}
