
/* FONT INIT */

/* @import url comme ici permet d'importer une police depuis google 'fonts.google.com' j'ai trouvé ça plus simple que de devoir dl les fichiers 1 par 1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');

/* les lignes qui suivent vont permettre d'utiliser les polices que j'ai importer, j'en ai importer que deux pour l'instant */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* INIT COLOR VARIABLE */
:root{
    --grey: #333;  
    --lblue: #3db5d3;
    --red:#fa4f09;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/* NAVBAR TOP */

header{
    position: sticky;
    top:0; left:0; right:0;
    /*z-index: 1000;*/
    background-color: var(--grey);
    display: flex;
    align-items: center;
    padding:0.8rem 3%;
    color: white;
    justify-content: space-between;
    display: flex;  
}
header h1{
    font-size: 145%;
}
header div{
    display: inline-flex;
    align-items: center;
}
.navbar{
    /* margin-left: 48%; permet de positionner les liens a droite du titre */
    justify-content: space-between;
    display: flex;
    text-align: right;

}
.navbar a{
    margin-right: 1rem;
    font-size: 17px;
    color:var(--lblue);
}
a:hover{
      color:var(--red);
}

.logonavbar{
    width: 50px;
    height: 50px;
    margin-right:20px;
}
