*{
    margin:0px;
}


/* FONT INIT */
@font-face {
     font-family: Font1;  /* Font1 c'est le nom qu'on donne a notre police initialisé d'après le fichier "src: url();", on peux le nommer comme on le souhaite */
    src: url(font/FUTRFW.ttf);
}

/* */

header{
    width: 100%;
    height: 100px;
    background-color: rgb(61, 61, 61);
    position: fixed;
}

header h1{
    text-align: center;
    color: white;
    font-family: Font1;
}