
/* FONT INIT */

/* @import url comme ici permet d'importer une police depuis google 'fonts.google.com' j'ai trouvé ça plus simple que de devoir dl les fichiers 1 par 1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');

/* les lignes qui suivent vont permettre d'utiliser les polices que j'ai importer, j'en ai importer que deux pour l'instant */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* INIT COLOR VARIABLE */

:root{
    --grey: #333333;  
    --lorange: #f1a979;    
    --red:#fa4f09;
    --darkgrey: rgb(34, 34, 34);
}

/* INIT GLOBAL SETTINGS */

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    transition: all .2s linear;
}



/* HEADER */

header{
    position:fixed;
    width: 100%;
}
.topheader{
    background-color: var(--darkgrey);
    color: white;
    text-align: center;
}
.topheader h1{
    padding: 12px;
    margin: 0;
    font-size: 35px;
}
.headernavbar{
    text-decoration: none;
    text-align: center;
    margin: 0;
    background-color: var(--grey);
    padding: 10px;
}
.headernavbar a{
    text-decoration: none;
    color: var(--lorange);
    margin-left: 15px;
}
.headernavbar a:hover{
    color: var(--red);
}


/* MAIN */

main{
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 110px;
}
#div1 {
    background-color: lightblue;
    height: 500px;
}

#div2 {
    /* background-color: rgb(230, 230, 230); */
    background-color: var(--grey);
    height: 700px;
    text-align: center;
}

#div3 {
    background-color: lightblue;
    height: 400px;
}
#div4 {
    background-color: white;
    height: 400px;
}
.logoiutdiv1 {
margin-left:280px;
height: 300px;
width: 850px;
margin-top: 50px;
margin-bottom: 50px;
}

.cartes img{
    height: 230px;
    width: 270px;
    margin: 5px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
}
.cartes{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 30px;
}
.cartes h1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top:15px;
}
#div2 button{
    background-color: var(--lorange); /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 32px;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;

}
.cartediv{  
    background-color: #f1a979;
    height: 450px;
    width: 290px;
    box-shadow: 20px 20px 20px rgb(27, 27, 27);
    margin : 15px;
    border-radius: 15px;
    /* ajout d'une bordure autour de chacune des "cartes" de 1px d'épaisseur, niveau esthétic je ne sais pas vrmt quoi en penser */
    /* border: 1px solid black; */
}
.cartes summary{
    text-align: center;
    border: 3px solid black;
    margin-left: 50px;
    margin-right:50px;
    margin-top:40px;
    padding: 10px;
    border-radius: 15px;
} 



/* FOOTER */

footer{
    background-color:var(--grey);
    text-align: center;
    align-items: center;
    height: 340px;;
    color:white;
}


/* POUR LOGO CLASSIQUE CARRE
.logofooter{
    height: 50px;
    width: 50px;
    margin-top: 40px;
} */

.logofooter{
    height: 100px;
    width: 280px;
    margin-top: 40px;
}
.footerimg{
    height: 45px;
    width: 45px;
    margin:20px;
}
.allrightreserved{
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: var(--red);
}

:target:before{
    display: block;
    content: "";
    height: 100px;
    margin: -100px 0 0;    
}