/* FONT INIT */

/* @import url comme ici permet d'importer une police depuis google 'fonts.google.com' j'ai trouvé ça plus simple que de devoir dl les fichiers 1 par 1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');

/* les lignes qui suivent vont permettre d'utiliser les polices que j'ai importer, j'en ai importer que deux pour l'instant */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* INIT COLOR VARIABLE */

:root{
    --grey: #333333;  
    --lorange: #f1a979;    
    --red:#fa4f09;
    --bgcarte: rgb(29, 104, 117);
    /* --darkgrey: rgb(34, 34, 34); */
    --darkgrey: rgb(14, 14, 14);
    --middlegrey: rgb(32, 32, 32);
    /* --lgrey: rgb(97, 97, 97); */
    --lgrey: #e0b597;

}

/* INIT GLOBAL SETTINGS */

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    transition: all .2s linear;
    box-sizing: border-box;
}
main{
    padding-top: 160px;
    background-color: var(--middlegrey);
    height: 4380px;
}

form{
    color: white
}

/* HEADER */

header{
    padding-top: 20px;
    position:absolute;
    width: 100%;
}
.topheader{
    /* background-color: var(--darkgrey); */
    color: white;
    text-align: center;
}
.topheader h1{
    padding: 12px;
    margin: 0;
    font-size: 35px;
}
.headernavbar{
    text-decoration: none;
    text-align: center;
    margin: 0;
    /* background-color: var(--grey); */
    padding: 10px;
}
.headernavbar a{
    text-decoration: none;
    color: var(--lorange);
    margin-left: 15px;
}
.headernavbar a:hover{
    color: var(--red);
}



/* CONTENT  */

.divpres{
    height: 1050px;
    width: 1500px;
    background-color: var(--lgrey);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main_div{
    height: 650px;
    width: 1500px;
    background-color: var(--lgrey);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.div_2{
    height: 1050px;
    width: 1500px;
    background-color: var(--lgrey);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.div2_in{
    padding: 50px 4.5em;
    display: flex;
    max-width: 1400px;
    min-width: 1200px;
    padding-top: 50px;
}
.div_2 h2{   
    font-weight:bold;
    padding-top: 22px;
    font-size: xx-large;
    text-decoration: underline;
    color: black; /* color du titre*/

}
.div_2 ul{
    font-size: 20px;
}
.Info_pratique_texte{
    margin: 50px 40px;
}
.div2_in2{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.div2_in2_text{
    margin-left: 20px;
}
.div2_in2 img{
    width:800px;
    height:250px;
}
.div_3{
    height: 1050px;
    width: 1500px;
    background-color: var(--lgrey);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;

}
body{
    background-color: black;
}




/*CSS pour la grilles de carte en perspective de la maindiv*/

.container {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
  
div h1{
   font-weight:bold;
   padding-bottom: 30px;
   font-size: xx-large;
   color: var(--red); /* color du titre*/
 }
.card-container {
   display: grid; /* defini l'ensemble des div realtive aux cartes comme faisant toutes partie de la même grille. Sur firefox, l'inspection d'élément permet de visualisé la grille*/
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* auto fill permet d'aligenr automatiquement les éléments avec des min et max de défini*/
   grid-gap: 30px; /*Assigne l'espacement entre les éléments*/
   margin: 30px 0; /*cette synthaxe défini 80px en haut et en bas et 0 a gauche et a droite*/
}
.card-wrapper {
   position: relative;
   min-height: 200px;
   perspective: 2000px; /*Permet de créer une perspective fictive d'une profondeur de 2000px*/
   perspective-origin: top; 
}
  
.card-wrapper:hover .card {
   transform: rotateY(180deg); /*CSS de mise en place de l'animation d'une rotation sur l'axe Y de 180deg*/
}
  
.card { /*CSS de la carte en elle meme*/
   position: relative;
   height: 100%;
   transform-style: preserve-3d; /*Ligne permettant de liée la carte a la relation de perceptive crée dans .card-wrapper*/
   transition: transform 0.8s cubic-bezier(0.86,0,0.07,1); /*Defini les propriété de l'animation "transform" defini juste au dessus*/
   color: white; /*color du texte de la face avant*/
   font-weight: bold;
}
  
.card-front, 
.card-back {
   position: absolute;
   height: 100%;
   width: 100%;
   padding: 40px;
   border-radius: 18px;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
}
  
.card-front {
   background: var(--bgcarte);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
  
.card-front p {
   font-size: 20px;
   line-height: 35px;
}
.card-price  {
  font-size: 45px;
}
  
.card-back {
   background: var(--bgcarte);
   transform: rotateY(180deg);
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-back {
    background-color: #1a2f42;
}
  
.card-back a {
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    transition: 
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}
  
.card-back a:hover { 
    background-color: #1a2f42;
    color: #fff;
}


/* FOOTER */


footer{
    background-color:var(--grey);
    text-align: center;
    align-items: center;
    height: 340px;
    color:white;

}
.logofooter{
    height: 100px;
    width: 280px;
    margin-top: 40px;
}
.footerimg{
    height: 45px;
    width: 45px;
    margin:20px;
}
.allrightreserved{
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: var(--red);
}