
/* FONT INIT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */


/* INIT COLOR VARIABLE */
:root{
    --grey: #333333;  
    --lorange: #f1a979;    
    --red:#fa4f09;
    --bgcarte: rgb(29, 104, 117);
    /* --darkgrey: rgb(34, 34, 34); */
    --darkgrey: rgb(14, 14, 14);
    --middlegrey: rgb(32, 32, 32);
    /* --lgrey: rgb(97, 97, 97); */
    --lgrey: #e0b597;

}


/* INIT GLOBAL SETTINGS */
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    transition: all .2s linear;
    box-sizing: border-box;
}
main{
    padding-top: 160px;
    background-color: var(--middlegrey);
    height: 910px;
}



/* HEADER */
header{
    padding-top: 20px;
    position:absolute;
    width: 100%;
}
.topheader{
    /* background-color: var(--darkgrey); */
    color: white;
    text-align: center;
}
.topheader h1{
    padding: 12px;
    margin: 0;
    font-size: 35px;
}
.headernavbar{
    text-decoration: none;
    text-align: center;
    margin: 0;
    /* background-color: var(--grey); */
    padding: 10px;
}
.headernavbar a{
    text-decoration: none;
    color: var(--lorange);
    margin-left: 15px;
}
.headernavbar a:hover{
    color: var(--red);
}



/* CONTENT  */
.main_div{
    height: 630px;
    width: 50%;
    background-color: var(--lgrey);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

label
{
	display: block;
	width: 200px;
	float: left;
}

.input_field{
    padding:5px;
}

label.check{
    width:20px;
}

.main_div h2{
    text-align: center;
    padding: 30px;
}

.form{
    display: table;
    margin: auto;
}
#inscription{
    padding: 15px;
    text-align: center;
}

/* FOOTER */
footer{
    background-color:var(--middlegrey);
    text-align: center;
    align-items: center;
    height: 340px;
    color:white;
}
.logofooter{
    height: 100px;
    width: 280px;
    margin-top: 40px;
}
.footerimg{
    height: 45px;
    width: 45px;
    margin:20px;
}
.allrightreserved{
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: var(--red);
}