
/* FONT INIT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Paytone+One&family=Russo+One&family=Viga&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* {
    user-select: none; Permet d'empécher de selctionner avec le curseur ;
} */



/* INIT COLOR VARIABLE */

:root{
    --grey: #333333;  
    --lorange: #f1a979;    
    --red:#ff672b;
    /* --bgcarte: rgb(17, 72, 83); */
    --bgcarte: rgb(34, 56, 77);
    /* --darkgrey: rgb(34, 34, 34); */
    --darkgrey: rgb(14, 14, 14);
    --middlegrey: rgb(32, 32, 32);
    /* --lgrey: rgb(97, 97, 97); */
    --lgrey: #ffc198;
    --width: 90%;

}
::selection { /*Permet de changer la couleur lors du surlignage du texte*/
    color: #000000;
    background: #93beff;
}
/* INIT GLOBAL SETTINGS */

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    transition: all .3s linear;
    box-sizing: border-box;
}
main{
    padding-top: 100px;
    background-color: var(--middlegrey);
    height: 4080px;
}

/* HEADER */
#hautdepage{
    width: 100%;
    position: fixed;
    text-align: center;

}
#hautdepage a{
    text-decoration: none;
    color: white;
}
header{
    padding-top: 20px;
    position:absolute;
    width: 100%;
}
#topheader{
    /* background-color: var(--darkgrey); */
    color: rgb(141, 105, 105);
    text-align: center;
    padding-top: 20px;
}
#topheader h1{
    padding: 12px;
    margin: 0;
    font-size: 35px;
    /* text-shadow: 0px 3px rgb(195, 195, 195); */
}
.headernavbar{
    text-decoration: none;
    text-align: center;
    margin: 0;
    /* background-color: var(--grey); */
    padding: 10px;
}
.headernavbar a{
    text-decoration: none;
    color: rgb(255, 187, 175);
    margin-left: 15px;
    padding: 10px;
}
.headernavbar a:hover{
    color: white;
}



/* CONTENT  */
#divpres, #main_div, #div_2, #div_3 #div_4{
    width: var(--width);
}
#divpres{
    height: 400px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#divpres h1{
    text-align: center;
    text-shadow: 2px 2px rgb(182, 182, 182);
    font-size: 55px;
    border-radius: 25px;
    color: var(--red);
    margin: 120px;
    padding : 50px;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 6px;
    border: 5px dashed white;
    user-select: none;
}

#main_div{
    height: 50em;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 30px;
    background-image: url(./img/event/fond.jpg);
    /* background-color: var(--lorange); */
}

#main_div li{
    font-size:0.87em;
}

#div_2{
    height: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: white;
}
 .div2_in{
    padding: 50px 4.5em;
    display: flex;
    max-width: 1400px;
    min-width: 1200px;
    padding-top: 50px;
}
#div_2 h2{   
    font-weight:bold;
    padding-top: 22px;
    font-size: 25px;
    text-decoration: underline;
}
#div_2 ul{
    font-size: 18px;
}
.Info_pratique_texte{
    margin: 50px 70px;
}
.Info_pratique_texte ul{
    margin-top: 50px;
}
.div2_in2{
    margin: 0px 80px;

    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.div2_in2_text{
    margin-left: 480px;
}
.gmaps{
    box-shadow: 0px 0px 10px 4px rgba(182, 182, 182, 0.87);
    border-radius: 5px;
}
.div2_in2 img{
    border-radius: 5px;
    width:600px;
    height:250px;    
    box-shadow: 0px 0px 10px 4px rgba(182, 182, 182, 0.87);
}
#div_3{
    height: 200px;
    width: var(--width);    
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 70px;
    color: white;
}
#div_3 p{
    text-align: center;
}
#div_4{
    height: 370px;
    width: var(--width);    
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(./img/event/fond2.jpg);
}
.div_4_in{
    padding: 50px 4.5em;
    min-width: 1200px;
    padding-top: 50px;

}
.div_4_in img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin : 50px;
}
.div_4_img {
    text-align: center;
    margin: 0;
}
ul{
    list-style-type: none;
}
.div_a_formulaire{
margin: 0 auto;
}
.formulaire{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    background-color: var(--lorange);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    font-size: 19px;
    padding: 014px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.date{
    color: var(--red)
}



/*CSS pour la grilles de carte en perspective présentes dans maindiv*/

.container {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
  
div h1{
   font-weight:bold;
   padding-bottom: 30px;
   font-size: xx-large;
   letter-spacing: 2px;
   color: var(--red); /* color du titre*/
 }
.card-container {
   display: grid; /* defini l'ensemble des div realtive aux cartes comme faisant toutes partie de la même grille. Sur firefox, l'inspection d'élément permet de visualisé la grille*/
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* auto fill permet d'aligenr automatiquement les éléments avec des min et max de défini*/
   grid-gap: 25px; /*Assigne l'espacement entre les éléments*/
   /* margin: 30px 0; cette synthaxe défini 80px en haut et en bas et 0 a gauche et a droite */
}
.card-wrapper {
   position: relative;
   height: 300px;
   perspective: 2000px; /*Permet de créer une perspective fictive d'une profondeur de 2000px*/
   perspective-origin: top; 
}
  
.card-wrapper:hover .card {
   transform: rotateY(180deg); /*CSS de mise en place de l'animation d'une rotation sur l'axe Y de 180deg*/
}

.card { /*CSS de la carte en elle meme*/
   position: relative;
   height: 100%;
   transform-style: preserve-3d; /*Ligne permettant de liée la carte a la relation de perceptive crée dans .card-wrapper*/
   transition: transform 0.8s cubic-bezier(0.86,0,0.07,1); /*Defini les propriété de l'animation "transform" defini juste au dessus*/
   color: white; /*color du texte de la face avant*/
   font-weight: bold;
}
  
.card-front, 
.card-back {
   position: absolute;
   height: 100%;
   width: 100%;
   padding: 20px 40px;
   border-radius: 18px;
   backface-visibility: hidden;
}
  
.card-front {
   background: var(--bgcarte);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
  
.card-front p {
   font-size: 25px;
   text-decoration: underline;
}
.ul_1{
    font-size: 22px;
}
.ul_spe{
    font-size: 17px;
}
.card-back {
   background: var(--bgcarte);
   transform: rotateY(180deg);
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-back {
    background-color: #1a2f42;
}
  
.card-back a {
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    transition: 0.3s ease-out,color 0.3s ease-out;
}
  
.card-back a:hover { 
    background-color: #1a2f42;
    color: #fff;
}





/* FOOTER */
footer{
    background-color:var(--middlegrey);
    text-align: center;
    align-items: center;
    height: 340px;
    color:white;

}
.logofooter{
    height: 100px;
    width: 280px;
    margin-top: 40px;
}
.footerimg{
    height: 45px;
    width: 45px;
    margin:20px;
}
.allrightreserved{
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: var(--red);
}

/* @media queries (max-width: 1000px)
{
#main_div{
    height: 1000px;
}
h1{
    color: green;
}
} */