
/* FONT INIT */

/* @import url comme ici permet d'importer une police depuis google 'fonts.google.com' j'ai trouvé ça plus simple que de devoir dl les fichiers 1 par 1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;300;400;500;600&display=swap');

/* les lignes qui suivent vont permettre d'utiliser les polices que j'ai importer, j'en ai importer que deux pour l'instant */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* INIT COLOR VARIABLE */

@media screen and (min-width: 800px) {
    
}

:root{
    --grey: #333333;  
    --lorange: #f1a979;    
    --red:#fa4f09;
    /* --darkgrey: rgb(34, 34, 34); */
    --darkgrey: rgb(14, 14, 14);
}

/* INIT GLOBAL SETTINGS */

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    transition: all .2s linear;
    min-width: auto;
}


/* HEADER */

header{
    position:fixed;
    width: 100%;
}   
.topheader{
    background-color: var(--darkgrey);
    color: white;
    text-align: center;
}
.topheader h1{
    padding: 12px;
    margin: 0;
    font-size: 2.25vw;
}
.headernavbar{
    text-decoration: none;
    text-align: center;
    margin: 0;
    background-color: var(--grey);
    padding: 10px;
}
.headernavbar a{
    text-decoration: none;
    color: var(--lorange);
    margin-left: 15px;
    font-size: 1.25vw;
}
.headernavbar a:hover{
    color: var(--red);
}


/* MAIN */

main{
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 110px;
}
#div1 {
    background-color: lightblue;
    height: 335px;
    padding: 0;
}
#div2 {
    /* background-color: rgb(230, 230, 230); */
    background-color: var(--grey);
    text-align: center;
}

#div3 {
    background-color: lightblue;
    padding: 20px;
    height: 500px;
}
#div4 {
    background-color: var(--grey);
    height: 800px;
}
#div5{
    background-color: lightblue;
    height: 450px;
}
.logoiutdiv1 {
display: block;
margin: 0 auto; /*Aligne l'image automatiquement*/
padding: 30px;
}

/*DIV2*/

.cartes1 img{
    height: 240px;
    width: 300px;
    margin: 5px;
    display: block;
    margin: 0 auto;
    margin-top:20px;
    /* border: 1px solid black; */
}
.cartes1{
    display: flex;
    justify-content: space-evenly;
    color: var(--grey);
    margin: 0 auto;
    flex: 1;
}
.cartes1 h1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top:15px;
}

.cartes2 img{
    height: 240px;
    width: 300px;
    margin: 5px;
    display: block;
    margin: 0 auto;
    margin-top:20px;
    /* border: 1px solid black; */
}
.cartes2{
    display: flex;
    justify-content: space-evenly;
    color: var(--grey);
    margin: 0 auto;
    flex: 1;
}
.cartes2 h1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top:15px;
}
#div2 button{
    background-color: var(--lorange); 
    border: 2px solid black;
    color: white;
    padding: 10px 32px;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;

}
.cartediv{  
    background-color: #f1a979;
    height: 400px;
    width: 450px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    margin : 20px;
    border-radius: 15px;
    /* ajout d'une bordure autour de chacune des "cartes" de 1px d'épaisseur, niveau esthétique je ne sais pas vrmt quoi en penser */
    /* border: 1px solid black; */
}
.cartes summary{
    text-align: center;
    border: 3px solid black;
    margin-left: 50px;
    margin-right:50px;
    margin-top:40px;
    padding: 10px;
    border-radius: 15px;
} 

/*DIV3*/

#div3 p{
    text-align: center;
    font-size: 1.5vw;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.txt_forum{
    display: flex;
    flex-direction: column;
    background-color: #f1a979;
    height: 50%;
    box-shadow: 20px 20px 20px rgb(77, 76, 76);
    margin : 20px auto;
    border-radius: 15px;
    margin-top: 60px;
    /* ajout d'une bordure autour de chacune des "cartes" de 1px d'épaisseur, niveau esthétique je ne sais pas vrmt quoi en penser */
    /* border: 1px solid black; */
}

.txt_forum a{
    margin: 0 auto;
    margin-top: 20px; 
}

#div3 button{
    background-color: white; 
    border: 2px solid black;
    color: black;
    padding: 10px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 6px;

}

/*DIV4*/

.Icon_Sport{
    display: flex;
    flex-direction: row;
}

.cartesSport h1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top:15px;
}
.cartesSport img{
    height: 40px;
    width: 40px;
    margin: 5px auto;
    /* border: 1px solid black; */
}
.cartesSport{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-top: 30px;
}

.cartedivSport{  
    background-color: #f1a979;
    height: 250px;
    width: 90%;
    box-shadow: 20px 20px 20px rgb(27, 27, 27);
    margin : 25px auto;
    border-radius: 15px;
    /* ajout d'une bordure autour de chacune des "cartes" de 1px d'épaisseur, niveau esthétique je ne sais pas vrmt quoi en penser */
    /* border: 1px solid black; */
}

.cartesSport p {
    margin-top: 100px;
    font-size: 1.2vw;
    text-align: center;
    margin: 10px;
}

/*DIV5*/

.partenaire{
    display:flex;
    flex-direction: row;
}
.partenaire h2 {
    text-align: center;
    margin-top: 10px;
}

.partenairediv{
    display: flex;
    flex-direction: column;
    background-color: #f1a979;
    height: 225px;
    width: 200px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    margin : 20px;
    border-radius: 15px;
}

.partenairediv img{
    margin: 0 auto;
}

#acLyon{
    margin-top: -20px;
}

#sfen{
    margin-top: 20px;
}

/*PB d'ancre et alignement img*/

:target::before{ 
    display: block;
    content: "";
    height: 85px;
    margin: -85px 0 0;  
}

img{
    vertical-align: middle;
    max-width: 100%; /*Conserver les tailles des images*/
    height: auto;
}

/* FOOTER */

footer{
    background-color:var(--darkgrey);
    text-align: center;
    align-items: center;
    height: 340px;;
    color:white;
}

/* POUR LOGO CLASSIQUE CARRE
.logofooter{
    height: 50px;
    width: 50px;
    margin-top: 40px;
} */

.logofooter{
    height: 100px;
    width: 280px;
    margin-top: 40px;
}
.footerimg{
    height: 45px;
    width: 45px;
    margin:20px;
}
.allrightreserved{
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: var(--red);
}
